// 浅色主题
// 主题名称
$theme-name: 'notes-white';
// 主题色
$theme: #ffffff;
// 文字颜色
$theme-color: #333333;
// 主题背景颜色
$theme-bg-color: #ffffff;
// 状态栏颜色
$theme-state-bg-color: #A8F1F9;
// 状态栏标题颜色
$theme-state-title-color: #000000;
// 状态栏按钮颜色
$theme-state-button-color: #000000;
