//深色主题
// 主题名称
$theme-name: 'notes-black';
// 主题色
$theme: #000000;
// 文字颜色
$theme-color: #f3f3f3;
// 主题背景颜色
$theme-bg-color: #242424;
// 状态栏颜色
$theme-state-bg-color: #1a1a1a;
// 状态栏标题颜色
$theme-state-title-color: #000000;
// 头部按钮hover颜色
$theme-title-hover-color: #293030;